{% extends 'base.html' %} {% block title %}Contract List{% endblock %} {% block content %}

<div>
  <form method="GET" class="form-inline my-3" action="{% url 'contract_list' %}">
    <label for="search" class="mr-2">Search:</label>
    <input
      type="text"
      name="search"
      class="form-control mr-2 search-input"
      placeholder="Search by Customer Name, Project Name, Site Name..."
      value="{{ query }}"
    />
    <button style="margin-right: 10px" type="submit" class="btn btn-primary">Search</button>
    <a href="{% url 'contract_create' %}">
      <button type="button" class="btn btn-success">+ New Contract</button>
    </a>
  </form>
  <div>
    <table class="table table-hover table-dark small">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Contract Number</th>
          <th scope="col">Contract Value</th>
          <th scope="col">Contract Start Date</th>
          <th scope="col">Contract Expiration Date</th>
          <th scope="col">Contract Status</th>
          <th scope="col">Payment Method</th>
          <th scope="col">Credit Days</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        {% for contract in contracts %}
        <tr>
          <td>{{contract.id}}</td>
          <td>{{contract.contractor | truncatechars:15}}</td>
          <td>{{contract.contract_value}}</td>
          <td>{{contract.contract_start_date}}</td>
          <td>{{contract.contract_end_date}}</td>
          <td>{{contract.business_type}}</td>
          <td>{{contract.status}}</td>
          <td>{{contract.payment_method}}</td>
          <td>{{contract.credit_days}}</td>
          <td>
            <a href="{% url 'contract_update' contract.pk %}">
              <button type="button" class="btn btn-primary">Edit</button>
            </a>
          </td>
          <td>
            <a href="{% url 'contract_delete' contract.pk %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endblock %}
  </div>
</div>
