{% extends "base.html" %} {% block content %}

<h1>{% if object %} Update Contract {% else %} Create Contract {% endif %}</h1>

<form method="post">
  {% csrf_token %}
  <!-- Form fields go here -->
  {% for field in form %}
  <div class="form-group">
    <label for="{{ file.id_for_label }}">{{field.label}}</label>
    {{field}}
  </div>
  <ul>
    {% for error in field.errors %}
    <li style="color: #dc3545">{{ error }}</li>
    {% endfor %}
  </ul>
  {% endfor %}
  <button type="submit" class="btn btn-outline-success">Save</button>
  <a href="{% url 'contract_list' %}">
    <button type="button" class="btn btn-outline-danger">Cancel</button>
  </a>
</form>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const paymentSelect = document.getElementById("id_payment_type");
    const creditDaysInput = document.getElementById("id_credit_days");

    function toggleCreditDays() {
      if (paymentSelect.value === "LC") {
        creditDaysInput.style.display = "block";
      } else {
        creditDaysInput.style.display = "none";
        creditDaysInput.value = ""; // 清空不需要的输入
      }
    }

    paymentSelect.addEventListener("change", toggleCreditDays);
    toggleCreditDays(); // 页面加载时执行一次
  });
</script>

{% endblock %}
