{% extends "base.html" %}
{% block content %}

    <h1>
        {% if object %}
            Update Product
        {% else %}
            Create Product
        {% endif %}
    </h1>

    
    <form method="post">
        {% csrf_token %}
        <!-- Form fields go here -->
        {% for field in form %}
            <div class="form-group">
                <label for="{{ file.id_for_label }}">{{field.label}}</label>
                {{field}}              
            </div>
            <ul >
                {% for error in field.errors %}
                    <li style="color: #dc3545">{{ error }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
        <button type="submit" class="btn btn-outline-success">Save</button>
        <a href="{% url 'item_list' %}">
            <button type="button" class="btn btn-outline-danger">Cancel</button>
        </a>
    </form>
    
{% endblock %}

