{% extends 'base.html' %} {% block title %}Order List{% endblock %} {% block content %}

<div>
  <form method="GET" class="form-inline my-3" action="#">
    <label for="search" class="mr-2">Search:</label>
    <input
      type="text"
      name="search"
      class="form-control mr-2 search-input"
      placeholder="Search by Item Name, Keywords etc"
      value="{{ query }}"
    />
    <button style="margin-right: 10px" type="submit" class="btn btn-primary">Search</button>
    <a href="#">
      <button type="button" class="btn btn-success">+ Add Item</button>
    </a>
  </form>
  <div>
    <table class="table table-hover table-dark small align-middle">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Order Number</th>
          <th scope="col">Create Date</th>
          <th scope="col">Update Date</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>{{order.id}}</td>
          <td>{{order.customer.name}}</td>
          <td>{{order.order_number}}</td>
          <td>{{order.created_at | date:"Y-m-d"}}</td>
          <td>{{order.updated_at | date:"Y-m-d"}}</td>
          <td>
            <a href="{% url 'order_details' order.pk %}">
              <button type="button" class="btn btn-primary">Edit</button>
            </a>
          </td>
          <td>
            <a href="#" class="btn btn-danger">Delete</a>
          </td>
          <td><input type="checkbox" value="{{order.id}}" /></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
